@font-face {
    font-family: 'Shanti';
    src: url(../Fonts/Shanti-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(../Fonts/Poppins-Regular.ttf);
}

.about-us{
    font-family: 'Shanti';
    border-radius: 12px;
    
}

.header{
    background-color: #36506C;
    color: white;
    border-radius: 0px 0px 200px 200px;
    z-index: 10;
}

.desc{
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Poppins';
    box-shadow: 0 0 50px #ccc;
    border-radius: 8px;
}

.desc .contact-us-btn{
    background-color: #36506C;
    border: none;
    width: 15rem;
    height: 3rem;
    color: white;
    font-family: 'Shanti';
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.desc > a{
    text-decoration: none;
}

ul {
    list-style-position: inside;
 }

 .contact-us-link{
    width: fit-content !important;
    margin: auto;
 }