.add-app-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll-add-app {
    height: 100vh !important;
    overflow-y: scroll;
}

.upload-app-pic {
    background-color: rgba(0, 0, 0, 0.089);
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.remove-upload-img {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: auto;
    margin-right: 2rem;
    cursor: pointer;
    background-color: rgb(189, 48, 48);
    color: white;
    border-radius: 10px;
}

.editor-text-editor {
    width: 30vw !important;
    height: 22rem !important;
    max-height: 22rem !important;
    padding-left: 5px;
}

.editor-text-editor::-webkit-scrollbar {
    display: none;
}

.mobile-text-editor {
    height: 22rem !important;
    max-height: 22rem !important;
    padding-left: 5px;
}

.mobile-text-editor::-webkit-scrollbar {
    display: none;
}

.show-img {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 2rem;
    cursor: pointer;
}

@media screen and (max-width: 1500px) {
    .editor-text-editor {
        width: unset !important;
    }
}

@media screen and (orientation:landscape) {
    .landscape-app {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100vh !important;
        overflow-y: scroll;
    }
}