@font-face {
    font-family: 'Poppins';
    src: url(../Fonts/Poppins-Regular.ttf);
}

.app-img{
    height: 25rem;
    position: relative;
    background-size: cover;
}

.author{
    border-radius: 35px;
    width: 20rem;
    height: 18%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: auto !important;
    margin-right: auto !important;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 10%;
    left: 5%;
}

.author-img{
    height: 4rem !important;
    width: 4rem !important;
    border-radius: 90px;
    margin-right: 10px;
}

.overview{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 120px;
    font-family: 'Poppins';
    margin-top: auto;
    margin-bottom: auto;
    width: 50% !important;
}

.info-part{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem !important;
}

.info-part > div > *{
    margin-top: 5px !important;
    margin-bottom: 5px !important;

}

.info-part > img {
    width: 2rem;
    height: 2rem;
    margin-right: 10px;
}

.overview-info{
    font-size: 1.5rem !important;
}

.app-main-info{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 78%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.app-main-info > h3{
    margin-top: 10px !important;
}

.app-btn-container{
    margin-top: 5rem !important;
}

.app-btn{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
    border: none;
    width: 35% !important;
    height: 7rem !important;
    font-family: 'Poppins';
    font-size: 1.5rem;
    background-color: #36506C;
    margin: auto !important;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1370px) {

    .overview{
        width: 100% !important;
    }

    .info-part{
        width: 40% !important;
        text-align: center;
        flex-direction: column;
    }

    .app-main-info{
        width: 100%;
    }
}
