@font-face {
    font-family: 'Poppins';
    src: url(../Fonts/Poppins-Regular.ttf);
}

.app-img{
    height: 32vh;
    position: relative;
    background-size: cover;
    display: flex;
    padding: 0 !important;
}

.full-width-image{
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.author{
    border-radius: 35px;
    height: fit-content;
    width: 20rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: auto !important;
    margin-right: auto !important;
    color: black;
    cursor: pointer;
    padding: 5px;
    margin-left: 1rem !important;
    margin-top: 2rem;
}

.author-img{
    height: 4rem !important;
    width: 4rem !important;
    border-radius: 90px;
    margin-right: 10px;
}

.app-main-info{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 30px;
    display: flex !important;
    height: fit-content;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    float: right;
    margin-right: 10px !important;
    margin-top: 2rem !important;
}

.app-main-info > *{
    margin: 0 4rem !important;
}

.app-btn-container{
    margin-top: 5rem !important;
}

.overview{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 120px;
    font-family: 'Poppins';
    margin-top: auto;
    margin-bottom: auto;
    width: 50% !important;
}

.info-part{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem !important;
}

.info-part > div > *{
    margin-top: 5px !important;
    margin-bottom: 5px !important;

}

.info-part > img {
    width: 2rem;
    height: 2rem;
    margin-right: 10px;
}

.app-btn{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
    border: none;
    width: 35% !important;
    height: 8vh !important;
    font-family: 'Poppins';
    font-size: 1.5rem;
    background-color: #36506C;
    margin: auto !important;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-btn:disabled{
    opacity: 0.7;
}

.pics-row{
    margin-top: 1rem !important;
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.pics-row > img{
   width: 15% !important;
   height: 10rem;
   margin: auto;
}

.main-pic{
    margin-left: auto !important;
    margin-right: auto !important;
    height: 30vw;
    width: 50%;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
    padding: 10px;
    border-radius: 22px;
}

.main-pic-con{
    display: flex;
    align-items: center;
}

.arrow{
    position: absolute;
    cursor: pointer;
    margin-top: 10rem;
    width: 3%;
    border-radius: 90px;
    border: white 1px solid;
    background-color: white;
    padding: 15px;
}

.arrow:nth-child(1){
   left: 5%;
}

.arrow:nth-child(3){
    right: 5%
}

.selectedPic{
    transform: scale(1.2);
    box-shadow: 1px 3px 30px rgba(0, 0, 0, 0.5);
}

.fade-img{
    animation: fadeImg 1.5s ease;
}

.not-approved-app{
    background-color: #36506C;
    color: white;
}

.not-approved-text{
    font-family: 'Poppins' !important;
}

.add-content-app{
    position: fixed;
    top: 5%;
    left: 1%;
}

.add-content-btn{
    background-color: #36506C !important;
    padding: 17px !important;
    cursor: pointer;
}

.text-app-editor{
    min-height: 30rem !important;
    width: 60rem !important;
    overflow-x: auto;
    padding: 0 0.5rem;
}

.text-app-editor::-webkit-scrollbar{
    width: 0px !important;
}

@keyframes fadeImg {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
    
}

@media screen and (max-width:1370px) {

    .overview{
        width: 100% !important;
    }

    .info-part{
        width: 40% !important;
        text-align: center;
        flex-direction: column;
    }

    .arrow{
        width: 5%;
    }
}

@media screen and (max-width:940px) {
    .app-img{
        
        flex-direction: column;
        align-items:  center;
    }
    .app-main-info{
        margin-left: 1.5rem !important;
       
    }
    
    .author{
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .arrow{
        display: none;
    }

    .pics-row{
        display: none !important;
    }

    .main-pic{
        width: 100%;
        height: 100%;
    }

}
