.review-modal{
    max-height: 78vh !important;
    overflow-y: auto;
}

.review-modal::-webkit-scrollbar {
    visibility: hidden;
}

.scroll-review-mobile{
    overflow-y: scroll;
    max-height: 100% !important;
    max-width: 100% !important;
    padding: 0;
    margin: 0;
    background-color: white;
}

.app-reviews-info{
    display: flex;
    justify-content: space-between;
    
}

.app-reviews-info-chart{
    padding: 10px;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.315);
}

.app-owner-info{
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-review{
    padding: 10px;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.315);
    max-height: 12rem;
}

.review-pic{
    width: 4rem;
    height: 4rem;
}

.review{
    height: 10rem !important;
}

.close-review{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

