@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
   }

textarea {
    resize: none !important;
}

.contact-us-input{
    height: 2.5rem;
}

.contact-us-desc{
    height: 10rem;
}

.contact-us-submit{
    border: none;
    background-color: #36506C;
    width: 10rem;
    height: 3rem;
    font-family: 'Shanti';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shaking{
    animation: horizontal-shaking 0.5s;
}

.succesfull{
    color: green;
}

.failed{
    color: red;
}