body{
    overflow-x: hidden !important;
}

.login-page-boxes{
    width: 100vw;
    position: relative;
    display: flex;
    height: 74vh;
}

.login-img{
    width: 6rem !important;
}

.login-input, .login-button{
    width: 23rem !important;
    height: 2.2rem !important;
    border-radius: 9px !important;
}

.login-button{
    height: 3rem !important;
    font-size: 1.5rem;
}

.transtion-boxes{
    transition: 1s ease-in-out;
}

.login-box, .register-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.reset-password-box, .verify-email-box{
    position: absolute;
    left: 150%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-box-to-left, .register-box-to-left{
    left: -150%;
}

.reset-password-box-to-left, .verify-email-box-to-left{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-reset-password{
    cursor: pointer;
    color: #36506C;
}

.email-verify-row{
    position: relative;
}

.verify-email{
    position: absolute;
    left: 77.5%;
    bottom: 10%;
    cursor: pointer;
    z-index: 1;
    background-color: white;
    width: fit-content !important;
}

@media screen and (max-width:990px) {

    .login-page-boxes{
        height: 120vw;
        overflow: hidden;
    }
    .login-input, .login-button{
        width: 18rem !important;
    }

    .verify-email{
        left: 70%;
    }
    
}