@font-face {
    font-family: 'Poppins';
    src: url(../Fonts/Poppins-Regular.ttf);
}

.logo{
    width: 12rem;
    height: 3.5rem;
    margin-left: 10%;
    cursor: pointer;
}

.justify-content{
    justify-content: flex-end;
    margin-right: 2%;
}

.pages-buttons{
    cursor: pointer;
    font-family: 'Poppins';
    color: black !important;
    margin-left: 20px;
}

.active{
    color: white !important;
    border-radius: 12px;
    background-color: #36506C;
    transition: 300ms ease-in-out;
}

.nav-bar-search{
    width: 26.5%;
    font-family: 'Poppins';
    outline: none;
}

.nav-bar-search-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #36506C;
    font-family: 'Poppins';
    border: none;
    color: white;
    border-radius: 0px 12px 12px 0px;
    width: 5%;
    margin-left: -10px;
}

.nav-bar-search-btn > img{
    height: 2rem;
}

.hideSearch{
    display: none;
}

@media screen and (max-width: 990px){

    .nav-bar-search{
        width: 80%;
        margin-bottom: 10px;
        height: 2.4rem;
        margin-left: 1.5rem !important;
    }

    .nav-bar-search-btn{
        display: none;
        
    }

    .hideSearch{
        display: flex;
    }

    .pages-buttons{
        padding-left: 10px !important;
    }

    .active{
        border-radius: 0px !important;
    }
 }