@font-face {
    font-family: 'Shanti';
    src: url(../Fonts/Shanti-Regular.ttf);
}

.register-page-boxes{
    width: 100vw;
    position: relative;
    display: flex;
    height: 74vh;
    overflow: hidden;
}

.register-type-btn{
    margin: 10px !important;
    width: 25% !important;
    height: 2.5rem;   
}

.register-confirm-btn, .register-type-btn{
    border: none;
    background-color: #36506C;
    font-family: 'Shanti';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-active{
    background-color: #456f9c;
}

.register-confirm-btn{
    width: 50% !important;
    height: 3rem;
    border-radius: 12px;
}

.register-row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem !important;
}

.register-column{
    width:  fit-content !important;
    display: flex;
    align-items: baseline;
}

.gender-column{
    width: 16.5rem !important
}

.register-input{
    width: 15rem !important;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input[type="date"]{
    font-size: 18px;
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.verify-input{
    width: 23rem !important;
    height: 2.2rem !important;
    border-radius: 9px !important;
}



@media screen and (max-width: 1024px) {
    .register-type-btn{
        width: 30% !important;
    }
}

@media screen and (max-width:1920px) {
    .register-page-boxes{
        height: 90vh;
    }
}

@media screen and (max-width:1200px) {
    .register-page-boxes{
        height: 110vh;
    }
}

@media screen and (max-height:900px) {
    .register-page-boxes{
        height: 140vh;
    }
}

@media screen and (max-height: 700px){
    .register-page-boxes{
        height: 200vw;
    }
}

@media screen and (max-height: 768px){
    .register-type-btn:nth-child(2){
        margin-top: 5px;
    }
}

@media screen and (max-width: 990px) {
     .verify-input{
        width:18rem !important;
     }
}


