@font-face {
    font-family: 'Poppins';
    src: url(../Fonts/Poppins-Regular.ttf);
}

.searchPage{
    font-family: 'Poppins';
    overflow-x: hidden;
}

.searchHeader{
    background-color: #36506C;
    height: 4rem;
    display: none !important;
}

.searchPageInput{
    width: 70%;
    height: 2.5rem;
    display: none !important;
}

.filter-section{
    border-right: 1px solid rgba(0, 0, 0, 0.274);
    width: fit-content !important;
    display: flex;
}

.result{
    cursor: pointer;
    margin-top: 1rem;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 0 50px #ccc;
    padding: 0 !important;
    padding-bottom: 10px !important;
    width: 21% !important;
    text-decoration: none;
    color: black;
}

.result:hover{
    color: black;
}

.result-info > *{
    margin-left: 5px;
}

.result-img{
    width: 100%;
    height: 15rem;   
    border-radius: 12px 12px 0px 0px;
}

.rating-info{
    align-items: center;
}

.rating-info > *{
    width: fit-content !important;
}

.rating-info > :last-child{
    padding: 0 !important;
    margin-top: 0 !important;
}

.rating-star{
    height: 1rem;
    margin-left: 5px;
    
}

@media screen and (max-width:1133px) {
    .result{
        width: 45% !important;
    }

    .rating-star{
        width: 3rem !important;
    }
}

@media screen and (max-width: 990px){

    .searchHeader, .searchPageInput{
        display: flex !important;
    }

    
    .filter-section{
        display: none !important;
    }
}

@media screen and (max-width: 600px){
    .result{
        width: 100% !important;
        margin-left: -10px !important;
    }
}
